h4 {
  text-align: center;
  padding-bottom: 1em;
  border-bottom: 1px solid gold;
}

button {
  margin-bottom: 0.5em;
  padding: 1em 1.2em;
}

form {
  width: 100%;
  text-align: center;
}

#root {
  position: relative;
}

.button-fetch {
  position: relative;
}
